.event{
    display:table;
}

.item{
    display: table-cell;
}

.contents{
    display: table;
}

.content{
    display: table-cell;
}

.info{
    display: table;
}

.item{
    display: table-cell;
    text-align: center;
    padding: 30px 20px;
}

.header{
    width: 100%;
}

.title{
    width: 100%;
    background-image: url("img/sig_head_pic01.jpg");
    height: 300px;
}
.title p{
    color: white;
    text-align: center;
}
.event{
    width: 100%;
    text-align: center;
}

.contents{
    width: 100%;
    text-align: center;
}

.info{
    width: 100%;
}

.content img{
    text-align: center;
}

.menu{
    float:left;
}
.menues{
    padding-left: 30%;
}
